<div class="span5">
  <%= form_tag( {action: 'new'}, method: :get, remote: true) do %>
    <% if @app.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

        <ul>
          <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-horizontal">
      <fieldset>

        <!-- Application name -->
        <div class="control-group">
          <label class="control-label" for="name">App ID</label>
          <div class="controls">
            <%= text_field_tag('id', nil, :placeholder => 'Application ID', :class => 'input-normal focused') %>
          </div>
        </div>

        <!-- Runtimes -->
        <div class="control-group">
          <label class="control-label" for="runtime">Runtime</label>
          <div class="controls">
            <%= select('manifest[runtime]', '', @runtimes.each.map {|r| ["#{r['name']} #{r['version']}", r['id']] }.sort, { :include_blank => true} ) %>
          </div>
        </div>

        <!-- Frameworks -->
        <div class="control-group">
          <label class="control-label" for="framework">Framework</label>
          <div class="controls">
            <%= select('manifest[framework]', '', @frameworks.each.map {|f| ["#{f['name']} #{f['version']}", f['id']] }.sort, { :include_blank => true }) %>
          </div>
        </div>

        <div class="well" id="rules">
          <div class="control-group">
            <label class="control-label" for="appendRule">Additional rules</label>
            <div class="controls">
              <div class="input-append">
                <%= select('new_rule', 'id', @rules.each.map {|r| [r[:name], r[:id]] }.sort, { :include_blank => true}) %>
                <button class="btn btn-small" type="button" id="add-rule">Add</button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  <% end %>
</div>
<div id="pricing-table" class="span6 center">
</div>

<% content_for :bottom_scripts do %>
  <script>
    var i = 1;
    $('#add-rule').click(function() {
      var rule_name = $('#new_rule_id option:selected').text();
      var rule_id = $('#new_rule_id option:selected').val();
      if (!rule_id) {
        return;
      }
      $('#rules').append('<div class="control-group"><label class="control-label">'+rule_name+'</label><div class="controls" id="'+rule_id+i+'"></div></div>');
      if (rule_id == 'monitoring') {
        $('#'+rule_id+i).append('<%= escape_javascript(select("manifest[metric]", "", @metrics.each.map {|m| [m["name"].humanize, m["name"]] }.sort, { :include_blank => true })) %>');
      }
      else if (rule_id == 'service') {
        $('#'+rule_id+i).append('<%= escape_javascript(select("manifest[service]", "", @services.each.map {|s| ["#{s["name"]} #{s["version"]}", s["id"]] }.sort, { :include_blank => true })) %>');
      }
      $('#'+rule_id+i).append(' <a href="#" class="icon-trash" id="trash-'+rule_id+i+'"></a>');
      i++;
    });

    $('#pricing-table').hide();
    $("[id^='manifest']").live('change', function() {
      refresh_form();
    });

    $('.icon-trash').live('click', function() {
      $(this).parent().parent().fadeOut('fast', function() {
        $(this).remove();
        refresh_form();
      });
      return false;
    });

    function refresh_form() {
      $('#pricing-table').hide();
      $('form[data-remote]').submit();
      $('#pricing-table').fadeIn('slow');
    }
  </script>
<% end %>
