<h2>Monitor</h2>
<br/>

<% @monitor.instances.each do |instance| %>
  <h3>Instance #<%= instance.id %> <small><%= instance.metrics.first["entries"].first.date %></small></h3>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>

      <% instance.metrics.each do |metric| %>
        <tr>
          <td><%= metric.name.humanize %></td>
          <td><%= "#{metric["entries"].first.value} #{metric.unit}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= select('metric', 'name', instance.metrics.each.map {|m| [m.name.humanize, m.name] }.sort, class: 'input-small') %>
<% end %>

<div id="container-chart" style="height: 200; min-width: 200"></div>

<script>
  var data2 = [];
  var data3 = [];
  function loadSerie() {
    $.getJSON("facebruk/monitor.json?samples=99", function(data) {
      data2 = data;
    });
  }


  $('#metric_name').change(function() {
    //loadSerie('1', $(this).attr('value'));
    var instance = '1';
    var metric = $(this).attr('value');
    $.each(data2.instances, function(i, v) {
      if(v.id == instance) {
        data3 = [];
        $.each($.grep(v.metrics, function(n, ii) { return n.name == metric; })[0].entries.reverse(), function(iii, k) {
          data3.push([parseInt(k.date) * 1000, parseInt(k.value)]);
          //data3.push(parseInt(k.value));

        });
        chart.series[0].setData(data3, true);
      }
    });
  });

  $(function() {
    loadSerie();

    Highcharts.setOptions({
      global : {
        useUTC : false
      },
      credits: {
        enabled: false
      }
    });

    // Create the chart
    window.chart = new Highcharts.StockChart({
      chart : {
        renderTo : 'container-chart',
        events : {
          load : function() {

            // set up the updating of the chart each second
            var series = this.series[0];
          }
        }
      },

      rangeSelector: {
        buttons: [{
          count: 1,
          type: 'minute',
          text: '1M'
          }, {
          count: 5,
          type: 'minute',
          text: '5M'
          }, {
          type: 'all',
          text: 'All'
        }],
        inputEnabled: false,
        selected: 0
      },

      title : {
        text : 'Live memory data'
      },

      exporting: {
        enabled: true
      },

      series : [{
        name : 'Random data',
        data : (function() {
          // generate an array of random data
          var data = [];

          <% @monitor.instances[0].metrics[5]["entries"].reverse!.each do |entry| %>
            data.push([
            <%= Integer(entry.date) * 1000 %>,
            <%= entry.value %>
            ]);
          <% end %>

          return data;
        })()
      }]
    });
    //loadSerie('1', 'memory');

  });
</script>

<% if false %>
  <% content_for :bottom_scripts do %>
    <%= javascript_include_tag "highstock/highstock" %>
    <%= javascript_include_tag "highstock/exporting" %>
  <% end %>
<% end %>
