<% content_for :page_title do %>
  Dashboard <small>frontend</small>
<% end %>

<% content_for :content do %>
  <% if @apps.empty? %>
    <div class="alert alert-block">
      <button class="close" data-dismiss="alert">×</button>
      <h4 class="alert-heading">No applications! <small>Nada! Nil! Zarro!</small></h4>
      <p></p>
      <p>No applications have been created yet. What are you waiting for? Create a new application and upload it easily to CSB.<br/><strong>We will promptly deploy it to the best Cloud!</strong></p>
    </div>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Provider</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @apps.each do |app| %>
          <tr>
            <td><%= link_to app.id, app_path(app) %></td>
            <td><%= (app.provider.nil?) ? ("<span class=\"label\">Undeployed</span>".html_safe) : app.provider.id.humanize %></td>
            <td><%= (app.status.nil?) ? ("<span class=\"label label-important\">Unknown</span>".html_safe) : app.status.humanize %></td>
            <td>
              <div class="btn-group">
                <%= link_to app.url, class: 'btn btn-success', target: "_blank" do %>
                  <i class="icon-globe icon-white"></i> Visit site
                <% end %>
                <%= link_to app_path(app), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger' do %>
                  <i class="icon-trash icon-white"></i> Delete
                <% end %>
              </div>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br />

  <%= link_to new_app_path, class: "btn" do %>
    <i class="icon-plus" /></i> New App
  <% end %>
<% end %>
