<% content_for :head do %>
  <%= stylesheet_link_tag "jquery.spinner", :media => "all" %>
  <%= stylesheet_link_tag "google-code-prettify-rails/prettify", :media => "all" %>
<% end %>

<% content_for :content do %>
  <% if notice %>
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Hurray!</strong> <span><%= notice %></span>
    </div>
  <% end %>

  <ul id="appTab" class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li class=""><a href="#services" data-toggle="tab">Services</a></li>
    <li class=""><a href="#migrate" data-toggle="tab">Scale</a></li>
    <li class=""><a href="#migrate" data-toggle="tab">Migrate</a></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analytics <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class=""><a href="#monitor" data-toggle="tab">Monitor</a></li>
      <li class=""><a href="#logs" data-toggle="tab">Logs</a></li>
    </ul>
    </li>
  </ul>

  <div id="appTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
      <h3>Information</h3>
      <dl class="dl-horizontal">
        <dt>Application ID</dt>
        <dd><%= @app.id %></dd>
        <dt>Framework</dt>
        <dd><%= (@app.framework.nil?) ? '-' : @app.framework.titleize %></dd>
        <dt>Provider</dt>
        <dd><%= (@app.provider.nil?) ? ("<span class=\"label\">Undeployed</span>".html_safe) : @app.provider.id.humanize %></dd>
        <dt>Status</dt>
        <dd><%= (@app.status.nil?) ? ("<span class=\"label label-important\">Unknown</span>".html_safe) : @app.status.humanize %></dd>
        <dt>Memory</dt>
        <dd><%= (@app.memory.nil?) ? '-' : "#{@app.memory.value} #{@app.memory.unit}" %></dd>
        <dt>URL</dt>
        <dd><%= (@app.url.nil?) ? ("<span class=\"label label-important\">Unknown</span>".html_safe) : link_to(@app.url) %></dd>
        <dt>SCM (Git)</dt>
        <dd><%= link_to @app.repository %></dd>
      </dl>
      <h3>Actions</h3>
      <div class="span2"></div>
      <div class="span2">
        <div class="btn-group" id="switcher">
          <%= link_to 'On', start_app_path(@app), class: 'btn', id: 'switchOn', method: :put, remote: true %>
          <%= link_to 'Off', stop_app_path(@app), class: 'btn btn-danger', id: 'switchOff', method: :put, remote: true %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="services">
    </div>
    <div class="tab-pane fade" id="scale">
    </div>
    <div class="tab-pane fade" id="migrate">
    </div>
    <div class="tab-pane fade" id="monitor">
    </div>
    <div class="tab-pane fade" id="logs">
      <div class='spinner white outlined' data-spin='spinner'></div>
    </div>
  </div>

  <% if false %>
    <%= link_to 'Back', apps_path, class: "btn btn-mini btn-inverse" %>
  <% end %>
<% end %>

<% content_for :bottom_scripts do %>
  <%= javascript_include_tag "jquery.spinner" %>
  <%= javascript_include_tag "google-code-prettify-rails/prettify" %>

  <script>
    $('#appTab').bind('show', function (e) {
      var pattern=/#.+/gi //use regex to get anchor(==selector)
      var contentID = e.target.toString().match(pattern)[0]; //get anchor
      if (contentID == '#logs') {
        $(contentID).load('<%= url_for log_app_path(@app) %>');
      }
      else if (contentID == '#monitor') {
        $(contentID).load('<%= url_for monitor_app_path(@app) %>');
      }
      else if (contentID == '#services') {
        $(contentID).load('<%= url_for app_services_path(@app) %>');
      }
    });

    $(function() {
      if ('<%= @app.status %>' == 'running') {
        $('#switcher').attr('data-state', 1);
        $('#switcher #switchOn').toggleClass('btn-success');
        $('#switcher #switchOff').toggleClass('btn-danger');
      }
    });

    $('#switcher').click(function(){
      var state = ( $('#switcher .switchOn').is('.btn-success') ? 0 : 1 );
      $('#switcher').attr('data-state', state);
      $('#switcher #switchOn').toggleClass('btn-success');
      $('#switcher #switchOff').toggleClass('btn-danger');
    });
  </script>
<% end %>
