<% content_for :head do %>
  <script>
    $(function() {
      $( "#tabs" ).tabs({
        ajaxOptions: {
          error: function( xhr, status, index, anchor ) {
            $( anchor.hash ).html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
          }
        }
      });
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Info</a></li>
    <li><a href="#tabs-2">Services</a></li>
    <li><a href="#tabs-3">Scale</a></li>
    <li><a href="<%= log_app_path(@app.name) %>">Logs</a></li>
  </ul>
  <div id="tabs-1">
    <table>
      <tr>
        <td>Name</td>
        <td><%= @app.name %></td>
      </tr>
      <tr>
        <td>URL</td>
        <td><%= @app_info.appUrl %></td>
      </tr>
      <tr>
        <td>Provider</td>
        <td><%= @app_info.paasProvider %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= @app_info.appStatus %></td>
      </tr>
      <tr>
        <td>Repository</td>
        <td><%= @app.repository %></td>
      </tr>
      <tr>
        <td>Instances</td>
        <td><%= @app_info.appInstances %></td>
      </tr>
    </table>
  </div>
  <div id="tabs-2">
    <p>b</p>
  </div>
  <div id="tabs-3">
    <h2>Instances</h2>
    <p>
    <%= number_field_tag 'instances', @app_info.appInstances, :min => 1, :step => 1 %>
    </p>
  </div>
</div>



<!-- <%= link_to 'Edit', edit_app_path(@app.name) %> | -->
<%= link_to 'Back', apps_path %>
