<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Service Broker</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" type="text/css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" type="text/css"/>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <div id="nav" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="brand">Cloud Service Broker</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="features">Features</a></li>
              <li><a href="pricing">Pricing</a></li>
              <li><a href="partners">Partners</a></li>
              <li><a href="blog">Blog</a></li>
              <li><a href="about">About</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><%= link_to 'My Apps', apps_path %></li>
                <li><a href="#">Billing</a></li>
              </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "Settings", services_path %></li>
                <li><%= link_to "Sign out", signout_services_path %></li>
              <% else %>
                <li><%= link_to "Sign up", signup_services_path %></li>
                <li><%= link_to "Sign in", "/auth/csb" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <button class="close" data-dismiss="alert">×</button>
          <strong><%= name.to_s.titleize %></strong><br><%= msg %>
      </div>
    <% end %>
  </div>

    <%= yield :main_content %>

    <footer>
    <div id="footer" class="stripe-color">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h6>Contact us:</h6>
            <address>
              Rua Eng. José Ferreira Pinto Basto<br>
              3810 - 106 Aveiro (PORTUGAL)<br><br>
              T: +351 234 403 200<br>
              F: +351 234 424 723<br>
              E: ptinovacao@ptinovacao.pt
            </address>
          </div>
          
        </div>
        <div class="divider"></div>
        <div class="row last">
          <div class="span12">
            <p class="sub">© 2012 PT Inova&ccedil;&atilde;o S.A. - Todos os direitos reservados</p>
          </div>
        </div>
      </div>
    </div>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap-transition" %>
    <%= javascript_include_tag "bootstrap-alert" %>
    <%= javascript_include_tag "bootstrap-modal" %>
    <%= javascript_include_tag "bootstrap-dropdown" %>
    <%= javascript_include_tag "bootstrap-scrollspy" %>
    <%= javascript_include_tag "bootstrap-tab" %>
    <%= javascript_include_tag "bootstrap-tooltip" %>
    <%= javascript_include_tag "bootstrap-popover" %>
    <%= javascript_include_tag "bootstrap-button" %>
    <%= javascript_include_tag "bootstrap-collapse" %>
    <%= javascript_include_tag "bootstrap-carousel" %>
    <%= javascript_include_tag "bootstrap-typeahead" %>
    <%= yield(:bottom_scripts) %>
  </body>
</html>
